.item {
  padding: 1.2rem;
  display: flex;
  cursor: pointer;

  &:hover {
    background: var(--hover-background-color);
  }
}

.active {
  background: var(--navbar-active-background-color);

  &:hover {
    background: var(--navbar-active-background-color) !important;
  }
}

.wrapper {
  overflow-y: auto;
  overflow-x: hidden;
}
