.logout-icon {
  display: flex;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    background: var(--hover-background-color);
  }
}

.wrapper {
  border-bottom: 1px solid var(--border-color);
}
