.container {
  display: flex;
  flex-direction: column;
}

.expand {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.label {
  font-weight: 500;
  font-size: 16px;
  color: #72c3a1;
  margin: 2px 0;
}
